.profile__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 294px;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 525px) {
  .profile__title {
    justify-self: center;
  }
}

@media all and (max-width: 345px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
