.elements {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin: 0 auto;
  justify-content: center;
}
@media all and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media all and (max-width: 525px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}