.profile__linkCard {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 336px;
  margin: 16px 0 0;
  padding: 0;
}

@media all and (max-width: 525px) {
  .profile__linkCard {
    text-align: center;
  }
}

@media all and (max-width: 320px) {
  .profile__linkCard {
    font-size: 14px;
    line-height: 17px;
  }
}